<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Task 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-title class="ion-padding ion-text-center">WI-FI CHECK</ion-title>
    <ion-text>Connect to a Wi-Fi Network and then disconnect from it to complete the task successfully.</ion-text>
    <div>W
      <ion-icon name="wifi"></ion-icon>
    </div>
    <ion-text *ngIf="wasConnected">Connected to Wi-Fi Network successfully. Disconnect from the Network to complete the task.</ion-text>
    <div class="ion-text-center">
      <ion-text *ngIf="taskDone">Task done lol</ion-text>
      <ion-button [disabled]="(!taskDone)" (click)="nextPage()">Continue</ion-button>
    </div>
</ion-content>
