<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page">
  <div id="title-container">
    <div>
      <ion-title class="ion-text-center" id="title">
        M335<br>
        Cool<br>
        Schnitzeljagd
      </ion-title>
      <div class="ion-text-center">
        <ion-button id="button">Start</ion-button>
        <ion-alert
          trigger="button"
          header="Before you start"
          message="Please enter your username before you play"
          [inputs]="alertInputs"
          [buttons]="alertButtons"
        ></ion-alert>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer></ion-footer>
